@{
    ViewData["Title"] = "Página não encontrada - Erro 404";
}

<div class="container">
    <div class="row">
        <img id="img404" class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" src="~/images/error404.png" />
    </div>
    <div class="row">
        <p id="error404" class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">404</p>
    </div>
</div>
