body {
}

.navbar-default {
    background-color: #333;
    border-color: #333;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav:hover > li > a {
    color: #5e5e5e;
}

.navbar-default .navbar-brand {
    color: #fff;
}