@{
    ViewData["Title"] = "Home Page";
}

@section CSS{
    <link rel="stylesheet" href="~/css/Home.css" />
}

<div class="bg content">
    <div class="col-md-6 col-md-offset-3 whiteblock">
        <div class="row">
            <h1 style="font-size: 34px;">Faça seu pedido a qualquer hora!</h1>
            <p>
                Com o SmartGarçom você pode garantir um atendimento
                mais rapido e evita filas para o pagamento
            </p>
            <form asp-area="Order" asp-controller="Home" asp-action="Index" method="get">
                <div class="form-group input-group">
                    <input id="cName" name="cName" type="text" class="form-control" placeholder="Pesquise um restaurante" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/i18n/jquery-ui-i18n.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cName').autocomplete({
                source: '/home/Search'
            });
        });

    </script>
}

