@model SmartGarcom.ViewModels.OrderCardVM
@{
    ViewData["Title"] = "Cardapio";
}


@if (Model.AssetTypes != null)
{
    @foreach (var type in Model.AssetTypes)
    {

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <img src="@type.ImagePath" class="img-fluid">
                </div>
                <div class="item-btn col-lg-12 col-md-12 item-btn">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="teste">@type.Name</button>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal" id="teste">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        @foreach (var asset in Model.Assets)
                        {
                            @if (asset.AssetTypeId == type.AssetTypeId)
                            {
                                <div class="">
                                    <div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary btn-car">@asset.Name</button>
                                    </div>
                                </div>
                            }

                        }
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

                    
            
    }
}
else
{


}     