@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EGJV.Models.AssetType

@{
    ViewData["Title"] = "Excluir categoria";
}
<p>Você deseja mesmo excluir a Categoria @Model.Name ?</p>
<form asp-controller="AssetTypes" asp-action="Delete" method="post">
    <div class="checkbox">
        <label><input id="confirma" type="checkbox" value="">Apagar produtos associados a essa Categoria?</label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a asp-area="Admin"
               asp-controller="AssetTypes"
               asp-action="Index"
               class="btn btn-default">Cancelar</a>
            <button id="deleta" type="submit"
                    class="btn btn-danger">
                Apagar
            </button>
        </div>
    </div>
</form>

<script>
        $("#confirma").click(function () {
            $("#deleta").attr("disabled", !this.checked);
        });
</script>
