@model EGJV.ViewModels.UserVM
@{
}
<div class="row">
    <form asp-controller="TUsers" asp-action="Edit" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="TUserId"></label>
            <div class="col-sm-10 disabled">
                <input class="form-control" disabled asp-for="TUserId" />
                <span class="text-danger" asp-validation-for="TUserId"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Name"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Password"></label>
            <div class="col-sm-10">
                <input class="form-control" type="password" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Email"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Birthdate"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Birthdate" />
                <span class="text-danger" asp-validation-for="Birthdate"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="SelectedRoleId"></label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="SelectedRoleId" asp-items="Model.Roles">
                    <option value="">Selecione uma opção</option>
                </select>
                <span class="text-danger" asp-validation-for="SelectedRoleId"></span>
            </div>
        </div>
        @if (ViewBag.TUser.Role.RoleId == 1)
        {

            <div class="form-group">
                <label class="col-sm-2 control-label" asp-for="SelectedCompanyId"></label>
                <div class="col-sm-10">
                    <select class="form-control" asp-for="SelectedCompanyId" asp-items="Model.Companies">
                        <option value="">Selecione uma opção</option>
                    </select>
                    <span class="text-danger" asp-validation-for="SelectedCompanyId"></span>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-controller="TUsers"
                   asp-action="Index"
                   class="btn btn-default">Cancelar</a>
                <button type="submit"
                        class="btn btn-success">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>