@model EGJV.Models.Company
@{
}
<div class="row">
    <form asp-controller="Companies" asp-action="Edit" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Name"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Cnpj"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Cnpj" />
                <span class="text-danger" asp-validation-for="Cnpj"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="SocialName"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="SocialName" />
                <span class="text-danger" asp-validation-for="SocialName"></span>
            </div>
        </div>        
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="CommercialNumber"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="CommercialNumber" />
                <span class="text-danger" asp-validation-for="CommercialNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="ZipCode"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ZipCode" />
                <span class="text-danger" asp-validation-for="ZipCode"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="State"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="State" />
                <span class="text-danger" asp-validation-for="State"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="City"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="City" />
                <span class="text-danger" asp-validation-for="City"></span>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Neighborhood"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Neighborhood" />
                <span class="text-danger" asp-validation-for="Neighborhood"></span>
            </div>
        </div>       
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="StreetAddress"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="StreetAddress" />
                <span class="text-danger" asp-validation-for="StreetAddress"></span>
            </div>
        </div>       
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="StreetNumber"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="StreetNumber" />
                <span class="text-danger" asp-validation-for="StreetNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a asp-controller="Assets"
                   asp-action="Index"
                   class="btn btn-default">Cancelar</a>
                <button type="submit"
                        class="btn btn-success">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>